# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

[Bb]in/
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/

ipch/
*.user
*.sdf
*.suo
